{% extends "base/index.html" %}

{% block content_main %}
<div class="card rounded">
  <div class="card-body">
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col">
          <div class="flex-column mb-3">
            <div class="d-flex icon-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart" viewBox="0 0 16 16">
                <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"/>
              </svg>
              One of three columns
            </div>
            <div class="p-2 align-items-center">
              <h2>
                $ 216K
              </h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="flex-column mb-3">
            <div class="d-flex icon-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart" viewBox="0 0 16 16">
                <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"/>
              </svg>
              One of three columns
            </div>
            <div class="p-2 align-items-center">
              <h2>
                $ 216K
              </h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="flex-column mb-3">
            <div class="d-flex icon-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart" viewBox="0 0 16 16">
                <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"/>
              </svg>
              One of three columns
            </div>
            <div class="p-2 align-items-center">
              <h2>
                $ 216K
              </h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="flex-column mb-3">
            <div class="d-flex icon-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart" viewBox="0 0 16 16">
                <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"/>
              </svg>
              One of three columns
            </div>
            <div class="p-2 align-items-center">
              <h2>
                $ 216K
              </h2>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="mt-4">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="flex-column">
            <p class="h4">h3. Bootstrap heading</p>
            <canvas id="myChart" style="width:100%;max-width:800px"></canvas>
          </div>

        </div>
      </div>
    </div>
    <div class="col col">
      <div class="card border-0 shadow-lg mb-5  rounded">
        <div class="card-body">
          <div class="d-flex justify-content-between p-2">
            <p class="h3">Sales</p>
            <!-- <div class="d-flex w-50 justify-content-between" > -->
              <div class="border-0" >
                Date:
                <form action="{% url 'search_per_date' %}" method="get">
                  <input type="date" id="inputDateID" name="q" />
                  <input type="submit" value="search">
                </form>
              </div>
            <!-- </div> -->
          </div>
        
          <table class="table table-borderless">
            <tbody id="tableSales">
              {% for sale in sales %}
              <tr>
                <th scope="row">
                  <div class="d-flex icon-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart" viewBox="0 0 16 16">
                      <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"/>
                    </svg>
                    Inv
                  </div>
                </th>
                <td>{{sale.createdAt}}</td>
                <td>{{sale.client}}</td>
                <td>#{{sale.number}}</td>
                <td>
                  <span class="badge text-bg-success">
                    {% if sale.is_paid %}
                      Canceled
                    {% else %}
                      Pending
                    {% endif %}
                  </span>
                </td>
                <td>${{sale.total}}</td>
                <td>...</td>
              </tr>    
              {% endfor %}
              
            </tbody>
          </table>
          <div class="pagination">
            <span class="step-links">
                {% if sales.has_previous %}
                    <a href="?page=1">&laquo; Primero</a>
                    <a href="?page={{ sales.previous_page_number }}">anterior</a>
          {% endif %}
        
          <span class="current">
              Página {{ sales.number }} de {{ sales.paginator.num_pages }}.
          </span>
            <span>
              {% if sales.has_next %}
                <a href="?page={{ sales.next_page_number }}">siguiente</a>
                <a href="?page={{ sales.paginator.num_pages }}">último &raquo;</a>
              {% endif %}
          </span>
        </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>

  const listSalesPerMonth = "{{sales_per_month}}"
  const sizeListSalesPerMonth = listSalesPerMonth.length
  const dataString = listSalesPerMonth.slice(1, sizeListSalesPerMonth-1)
  const dataValues = dataString.split(',')

  const xValues = ["Jan", "Feb", "Mar", "Apr", "May","June","July","Ago","Sept","Oct","Nov","Dic"];
  const yValues =  dataValues.map(el => parseInt(el))

  console.log(yValues)

  const barColors = [
    "rgba(255,0,0,1.0)",
    "rgba(255,0,0,0.8)",
    "rgba(255,0,0,0.6)",
    "rgba(255,0,0,0.4)",
    "rgba(255,0,0,0.2)"
  ];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: false
        }
      }],
    }
  }
});


</script>
{% endblock content_main %}