{% block cnd %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock cnd %}
seccion pedido de productos


    mostrar informacion de producto
    adicionar cantidad
    total
<div>
    <input type="text" placeholder="producto", id="id_product" autocomplete="off">

    <ul id="id_items"></ul>
</div>

<script>
    const item = document.querySelector('#id_product')
    const items = document.querySelector('#id_items')

    //buscar producto
    const getItems = (q)=>{
        axios('search/product/?q=' + q).then(response =>{
            let products = response.data.items

            items.innerHTML = ''

            products.forEach(el =>{
                const li = document.createElement('li')
                li.innerHTML = `
                <li id="${el.id}" onClick="selectItem(${el.id})">${el.description}</li>
                `
                items.appendChild(li)
            })
        })
    }

    item.addEventListener('keyup', (e)=>{
        if(e.target.value != ''){
            getItems(e.target.value)
        }

        items.innerHTML = ''
    })

    //seleccionar producto
    const selectItem = (id)=>{
        console.log(id)
    }

</script>