<div class="container" style="width: 38rem;">
    <h1 class="fw-bold h4">Cart detail</h1>
    <table class="table">
        <thead>
          <tr>
            <th class="fw-medium text-secondary">#</th>
            <th class="fw-medium text-secondary">Descripción</th>
            <th class="fw-medium text-secondary">Cant.</th>
            <th class="fw-medium text-secondary">Precio</th>
            <th class="fw-medium text-secondary">Total</th>
            <th class="fw-medium text-secondary"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="align-middle fw-light">1</th>
            <td style="width:20rem;">
              {{ form.product }}
            <td style="width: 6rem;" class="align-middle">
                <input 
                    type="number"
                    name=""
                    id=""
                    class="border-0 form-control p-1"
                    value="1"
                    min="1"
                >
            </td>
            <td style="width: 6rem;" class="align-middle">$ 12.000</td>
            <td style="width: 6rem;" class="align-middle">$ 12.000</td>
            <td style="width: 6rem;" class="align-middle">
                <a class="icon-link" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                </a>
            </td>
          </tr>
        </tbody>
    </table>
</div>
