{% extends "base/index.html" %}

{% load static %}

{% block cdn %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock cdn %}

{% block title %}
Shopping Cart
{% endblock title %}

{% block main %}

    {% verbatim  %}
        <div id="app">
            <p>{{ message }}</p>
        </div>
    {% endverbatim  %}

    {% include "Shopping_cart/detail.html" %}

{% endblock main %}

{% block javascript %}
<script>
  const { createApp, ref } = Vue

  createApp({
    setup() {
      const message = ref('Hello vue!')
      const items = []
      return {
        items,
        message
      }
    }
  }).mount('#app')

</script>
{% endblock javascript %}