{% block cnd %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock cnd %}

<div>
    <div>
        <label for="">Customer</label>
        <input name="q" type="text" placeholder="" id="id_search_customer" autocomplete="off">
    </div>

    <ul id="id_clients"></ul>
</div>



<script>
    const searchCustomer = document.querySelector('#id_search_customer')
    const resClient = document.querySelector("#id_clients")

    //filtrar los clientes
    const getClients = (q)=>{
        axios('search/client/?q=' + q).then(response =>{
            let res = response.data

            resClient.innerHTML = ''

            res.clients.forEach(el =>{
                const li = document.createElement('li')
                li.innerHTML =`
                <li id="id_item_${el.id}" onClick="selectedClient(${el.id})">${el.name}</li>
                ` 
                resClient.appendChild(li)
            })
        })

    }

    //seleccion de un cliente para mostrar sus datos
    const selectedClient = (id)=>{        
        axios('client/?id=' + id).then(response =>{
            let client = response.data.client[0]

            searchCustomer.value = client.name
            resClient.innerHTML = `
            <div>
                <label for="">Address</label>
                <input type="text" value="${client.address}" id="id_address" autocomplete="off">
            </div>
            <div>
                <label for="">Teléfono</label>
                <input type="tel" value="${client.phone}" id="id_phone" autocomplete="off">
            </div>
            `
        })
    }

    // input search
    searchCustomer.addEventListener('keyup', (e)=>{
        if(e.target.value != ''){
            getClients(e.target.value)
        }

        resClient.innerHTML = ''
    })

</script>
